#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }

  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
  
  h1.typetext {
    color: #171f58;
    background: -webkit-linear-gradient(25deg, #fff, #fff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    animation: typetext 1.5s steps(90) 1.5s 1 normal both, cursor 1s step-end infinite;
    position: relative;
  }
  
  @keyframes typetext {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }
  
  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }
  .split-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .split {
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  
  .split-top {
    height: 50%;
    clip-path: inset(0 0 50% 0); /* Top half of the image */
    animation: splitTop 1s ease forwards;
  }
  
  .split-bottom {
    height: 50%;
    clip-path: inset(50% 0 0 0); /* Bottom half of the image */
    animation: splitBottom 1s ease forwards;
  }
  
  /* Split animations */
  @keyframes splitTop {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  @keyframes splitBottom {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }
  
  .banner-animate .split-top {
    animation: splitTop 1s ease forwards;
  }
  
  .banner-animate .split-bottom {
    animation: splitBottom 1s ease forwards;
  }
  