#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }

  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
  
  h1.typetext {
    color: #171f58;
    background: -webkit-linear-gradient(25deg, #fff, #fff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    animation: typetext 1.5s steps(90) 1.5s 1 normal both, cursor 1s step-end infinite;
    position: relative;
  }
  
  @keyframes typetext {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }
  
  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }
  .slide-container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }
  
  .slide-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 1s ease-in-out;
  }
  
  .text-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  h3 {
    font-size: 2rem;
    margin: 0;
  }
  
  blockquote {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .banner-animate .slide-background {
    animation: slideEffect 1s forwards ease-in-out;
  }
  
  @keyframes slideEffect {
    0% {
      transform: scale(1.5) rotate(0deg);
    }
    50% {
      transform: scale(1.2) rotate(-15deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }
  
  /* For Swiper pagination */
  .autoplay-progress {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    z-index: 2;
  }
  
  .autoplay-progress svg {
    transform: rotate(-90deg);
  }
  
  .autoplay-progress circle {
    fill: none;
    stroke: white;
    stroke-width: 4px;
    stroke-dasharray: 125;
    stroke-dashoffset: 125;
  }
  